<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=neshdev;PASSWORD=lims;USER ID=LIMS&quot;" providerName="System.Data.EntityClient" />
<!--   <add name="Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=LIMS;PASSWORD=lims;USER ID=LIMS&quot;" providerName="System.Data.EntityClient" />-->

  </connectionStrings>
  
</configuration>